@use 'base';


.about {
    margin-top: 8rem;
    min-height: 100vh;
    display: flex;
    position: relative;
    background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.about-header-cont {
    margin-left: 2rem;
    color: base.$main-font-color;

    .about-header {
        margin-bottom: 3rem;
        font-size: 1.7rem;
    }

    .cv-dwn-button {
        text-decoration: none;
        color: base.$main-font-color;
        opacity: .85;
        font-size: 1.3rem;
        padding: .9rem 1rem;
        border-radius: 1.3rem;

        background-color:#a099ff;
        background-image: 
        radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
        radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
        radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
        radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
        radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
        radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
        radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);

        transition: .3s ease-out;

        &:hover {
            opacity: 1;
        }
    }

    .dwn-icon {
        font-size: 1.3rem;
        text-align: center;
        line-height: 50%;
    }
}

.about-brief-text {
    position: absolute;
    top: 35%;
    left: 60%;
    color: base.$main-font-color;
}

.about-resources {
    align-self: flex-end;
    margin-right: auto;
    margin-bottom: 2rem;
    justify-self: center;
    color: base.$main-font-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .resources-container {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-around;

        .res-icons {
            color: base.$main-font-color;
            transition: .3s ease-in-out;

            &:hover {
                color: base.$alt-color;
            }
        }
    }
}

@media screen and (max-width: base.$mobile-width) {
    .about {
        flex-direction: column;
    }

    .about-header-cont {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
    }

    .about-header {
        font-size: 30rem;
    }

    .cv-dwn-button {
        margin-top: -1rem;
        font-size: 1rem !important;
        padding: .5rem .7rem !important;
        align-self: flex-start;
    }

    .about-brief-text {
       position: static;
       margin-left: 2rem;
       margin-bottom: 2rem;
       font-size: 1.2rem;
    }

    .about-resources {
        align-self: center;
        justify-self: center;
        margin-left: auto;
    }
}

@media screen and (max-width: base.$tablet-width) {
    .about {
        margin-top: 4rem;
        min-height: 70vh;
    }

    .about-brief-text {
        font-size: 1.17rem;
        top: 32%;
        left: 40%;
    }

    .about-resources {
        position: absolute;
        left: 33%;
        margin-bottom: 5rem;
    }
}