@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto&display=swap');

// Vars
$title-font-family: 'Poppins', sans-serif;
$main-font-family: 'Roboto', sans-serif;
$main-font-color: #e1e2e2;
$low-op-font-color: rgba(225, 226, 226, 0.6);
$main-bg-color: #0f0e13;



body {
    font-family: $main-font-family;
    overflow-x: hidden;

    background-color: $main-bg-color;
}

.text-gradient {
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient2 {
    background: rgb(15,14,19);
    background: linear-gradient(90deg, rgba(15,14,19,1) 0%, rgba(105,105,108,1) 2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro, .contact, .about, .projects {
    scroll-behavior: smooth;
}
