@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto&display=swap');

// Vars
$title-font-family: 'Poppins', sans-serif;
$main-font-family: 'Roboto', sans-serif;
$main-font-color: #e1e2e2;
$low-op-font-color: rgba(225, 226, 226, 0.6);
$main-bg-color: #0f0e13;



body {
    font-family: $main-font-family;
    overflow-x: hidden;

    background-color: $main-bg-color;
}



