@use 'base';

.contact {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
    
    .contact-title {
        margin-top: 3rem;
        font-size: 1.8rem;
        color: base.$main-font-color;
    }

    .contact-container {
        display: flex;
        justify-content: center;
        min-width: 100%;
        margin-top: 2rem;
    }
    
    .media-contact-container {
        display: flex;
        flex-direction: column;
        min-width: 40%;
        // align-items: center;
        gap: .8rem;

        .media-link {
            color: base.$main-font-color;
            text-decoration: none;
            opacity: .9;
            transition: .3s ease-in;

            &:hover {
                color: base.$alt-color;
            }
        }
        
    }

    .form-container {
        width: 40%;
        color: base.$main-font-color;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input, textarea {
                width: 100%;
                border: none;
                margin-bottom: .4rem;
                background: rgba(255, 255, 255, 0.05);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                color: base.$main-font-color;
                border-radius: .1rem;

                &::placeholder {
                    color: base.$placeholder-font-color;
                }
            } 

            .submit-btn {
                width: 30%;
                padding: .3rem 1.4rem;
                margin-top: .75rem;
                border-radius: .75rem;
                transition: .3s ease-in;
                &:hover {
                    cursor: pointer;
                    background-color: transparent;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    opacity: .65;
                }
            }
        }

        .form-success-message {
            margin-top: 1.3rem;
            color: base.$alt-color;
            color: base.$main-font-color;

        }
    }
}

.form-error-message {
    color: base.$alt-color;
    font-size: .8rem;
    font-weight: bold;
}

.arrow-up {
    color: base.$main-font-color;
    position: absolute;
    bottom: 10%;
    right: 15%;
    font-size: 1.3rem;
    transition: .4s ease-in;

    &:hover {
        color: base.$alt-color;
        opacity: .7;
        transform: rotate(360deg);
    }
}