@use 'base';

.error-container {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    align-items: center;
    flex-direction: column;

    .error-message {
        color: deeppink;
        margin-bottom: 2rem;
    }

    .back-error-btn {
        text-decoration: none;
        color: base.$main-font-color;
        background-color: base.$alt-color;
        padding: .5rem 1rem;
        border-radius: .5rem;
        transition: .3s ease-out;

        &:hover {
            opacity: .8;
        }
    }
}

